.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; /* Adjust as needed */
}

.center-container img {
    width: 30%;
    height: 30%;
}
